[submodule "EAT"]
	path = EAT
	url = https://github.com/Chokerino/EAT
[submodule "ETNA"]
	path = ETNA
	url = https://github.com/Chokerino/ETNA
[submodule "Diffuse2Direct"]
	path = Diffuse2Direct
	url = https://github.com/Chokerino/Diffuse2Direct
[submodule "MolR"]
	path = MolR
	url = https://github.com/Chokerino/MolR
